html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block;}
body { line-height: 1;}
ol, ul { list-style: none;}
blockquote, q { quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
.clr { clear:both;}

* { margin:0; padding:0;}

body {font-size: 13px; line-height: 18px; margin:0; padding:0; font-weight:normal; font-style:normal; font-family: Arial, sans-serif; background: url("../images/body.png") top left repeat-x;}

.container { width:1000px; margin:0 auto; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
.boxes {-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; background: #fff; border: 1px solid #E7E7E7; padding: 30px;}
hr { background: url("../images/teni.png") top center no-repeat; border: none; height: 19px;}
h1 { color:#58585a; font-size: 33px; line-height: 34px; text-align: center; margin-bottom: 10px;}
a.button { font-size: 15px; line-height: 36px; height: 36px; color: #ffffff; font-weight: 700; background: #1C9FD8; padding: 0 15px; margin: 0; border: 1px solid #198FC2; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; text-decoration: none; display: inline-block;}
a.button:hover { background: #40B2E0; border: 1px solid #3FA6CE;}
.no-mr { margin-right: 0 !important;}
.no-br { border: none !important;}

/*-- шапка --*/
.header { background: #171717; height: 80px;}
.header a.logo { background: url("../images/logo.png") center center no-repeat; height: 80px; width: 198px; display: inline-block;}
.header a.logo span { display: none;}

.header ul.menu { margin: 0; padding: 0; float: right;}
.header ul.menu li {list-style: none; display: inline-block; margin-right: 30px; height: 80px; line-height: 80px;}
.header ul.menu li a { text-decoration: underline; font-size: 13px; color: #8f8f8f;}
.header ul.menu li a:hover { color: #fff;}

/*-- Ключевые функции «1С:Документооборот» --*/
.kl-fun { border-bottom: 2px solid #1C9FD9;}
.kl-fun .box { display: inline-block; width: 220px; margin-right: 15px; vertical-align: top;}
.kl-fun p.title { color:#58585a; font-size: 15px; line-height: 22px; font-weight: 700; vertical-align: middle; margin: 25px 0 0 0; height: 45px;}
.kl-fun p.title img { vertical-align: middle; margin-right: 8px; float: left;}
.kl-fun p { font-size: 13px; line-height: 18px; color: #89898c;}
.kl-fun p.title.pad-top { padding-top: 10px;}
.kl-fun .pad-top-2 img { margin-top: 10px;}
.kl-fun .pad-top-2 p.pp { padding-top: 10px;}

/*-- Три версии продукта --*/
.boxes.ver-prod { padding: 10px;}
.ver-prod h1 {color: #069edb; margin: 20px 0 25px;}
.ver-prod .content { background: #F6F6F6; padding: 30px 20px 35px;}

.ver-prod .content .box { background: #fff; border: 1px solid #E6E6E6; margin-bottom: 20px; width: 305px; display: inline-block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; padding: 20px 15px; vertical-align: top;}
.ver-prod .content .box.b1 {}
.ver-prod .content .box.b1 img, .ver-prod .content .box.b2 img, .ver-prod .content .box.b3 img { position: absolute; margin: -22px 0 0 190px;}
.ver-prod .content .box.b2 { margin: 0 0 0 -5px; border-left: 1px dashed #E5E5E5;}
.ver-prod .content .box.b3 { margin-left: 20px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}
.ver-prod .content .box p.title { font-size: 15px; line-height: 22px; color: #58585a; font-weight: 700; text-transform: uppercase; margin: 10px 0 15px; height: auto;}
.ver-prod .content .box p { color: #89898c; margin-bottom: 10px; height: 70px;}
.ver-prod .content .box span { font-size: 15px; line-height: 22px; color: #58585a; font-weight: 700; line-height: 47px; height: 47px; display: inline-block;}
.ver-prod .content .box a.button { float: right;}
.ver-prod .content .box:hover { border-color: #1C9FD9; -webkit-box-shadow: 0 0 13px rgba(82, 168, 236, 0.6); -moz-box-shadow: 0 0 13px rgba(82, 168, 236, 0.6); box-shadow:0 0 13px rgba(82, 168, 236, 0.6); cursor: default; z-index: 2; position: relative;}
.ver-prod .content .box.b2:hover { border-style: solid; }
.ver-prod .content img.line { margin: 0 auto; display: block;}
.ver-prod .content .button { text-align: center; margin:5px 0 0;}
.ver-prod .phone p { font-size: 13px; color:#89898c; line-height: 24px; text-align: center; margin:20px 0 10px;}
.ver-prod .phone p img { margin: 0 10px 0 25px;}
.ver-prod .phone p span { font-size: 22px; line-height: 24px; color:#58585a;}
.ver-prod .phone p span strong { font-weight: 700;}

/*-- ВНЕДРЕНИЕ --*/
.boxes.vvedenie { padding: 10px;}
.vvedenie h1 { text-align: center; margin: 25px 0 20px 0;}
.vvedenie img.line-3 { margin: 0 auto; display: block;}
.vvedenie p.small { text-align: center; display:block; font-size: 15px; line-height: 22px; margin-top: 10px; color: #89898c;}
.vvedenie .icon-cup {color: #58585a; font-size: 13px; text-align: center; margin: 10px 0 15px; display: block;}
.vvedenie .icon-cup img { text-align: center; margin-right: 10px;}
.vvedenie .content {padding: 10px;}
.vvedenie .content .box {border: 1px solid #E6E6E6; background: #F6F6F6; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; width: 300px; display: inline-block; vertical-align: top; padding: 15px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; cursor: default;}
.vvedenie .content .box:hover {border-color: #1C9FD9; -webkit-box-shadow: 0 0 13px rgba(82, 168, 236, 0.6); -moz-box-shadow: 0 0 13px rgba(82, 168, 236, 0.6); box-shadow:0 0 13px rgba(82, 168, 236, 0.6); cursor: inherit; background: #fff;}
.vvedenie .content .box.b1, .vvedenie .content .box.b2 {margin-right: 15px;}
.vvedenie .content .box.b3 {}
.vvedenie .content .box p.title {color: #58585a; font-size: 15px; line-height: 22px; font-weight: 700; margin: 10px 0 15px; height: auto;}
.vvedenie .content .box p.text { color: #89898c; font-size: 13px; line-height: 18px; height: 150px;}
.vvedenie .content .box a.button { margin: 15px 0;}
.vvedenie .inside { border: 1px solid #E6E6E6; padding: 10px; margin: 25px 10px 20px 10px;}
.vvedenie .inside > div {background: url("../images/bg-vvedenie-inside.png") left bottom repeat-x; padding: 25px;}
.vvedenie .inside p { font-size: 19px; line-height: 21px; color: #58585a; font-weight: 700; text-align: center; background: url("../images/line-4.png") center center no-repeat; margin-bottom: 25px;}
.vvedenie .inside a.button { width: 130px; text-align: center; margin: 0 auto; display: block;}

/*-- ОБУЧЕНИЕ --*/
.obuchenie .content { padding: 10px 0;}
.obuchenie .form-inner { border: 2px solid #F2E734; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; padding: 20px; margin: 40px 0;}
.obuchenie .form-inner img.book { float: left;}
.obuchenie .form-inner .inner { margin-left: 375px; width: 510px;}
.obuchenie .form-inner .inner p { font-size: 15px; line-height: 22px; color: #58585a;}
.obuchenie .form-inner .inner span { color: #069edb; font-weight: 700; display: block;}
.obuchenie .form-inner .inner .line { border-top: 1px dashed #D2D2D2; margin: 15px 0;}
.obuchenie .form-inner .inner .count { line-height: 35px; width: 349px; vertical-align: top; display: inline-block;}
.obuchenie .form-inner .inner .count p {font-size: 15px; line-height: 22px; color: #069edb; font-weight: 700; margin-bottom: 10px;}




.obuchenie .form-inner .inner .countdown-section {display: inline-block; vertical-align: top;}
.obuchenie .form-inner .inner .dot { display: inline-block; width: 20px; color: #58585a; text-align: center;}
.obuchenie .form-inner .inner .dot:last-child { display: none !important;}



.obuchenie .form-inner .inner span.countdown-amount { font-size: 15px; line-height: 35px; height: 35px; width: 40px; color: #58585a; font-weight: 700; text-align: center; text-decoration: none; border: 1px solid #E6E6E6; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; display: block;}
.obuchenie .form-inner .inner span.countdown-period { font-size: 11px; line-height: 28px; color: #58585a; font-weight: normal; text-align: center;}




.obuchenie .form-inner .inner a.button { display: inline-block; vertical-align: top; margin-top: 32px;}

.obuchenie .box { display: inline-block; vertical-align: top; width: 300px; border: 1px solid #E6E6E6; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; padding: 15px;}
.obuchenie .box.b1, .obuchenie .box.b2 { background: #F7F7EF; }
.obuchenie p.text1, .obuchenie p.text2 { display: inline-block; vertical-align: middle; font-size: 15px; line-height: 20px; color: #58585a; font-weight: 700; text-decoration: underline; text-align: center; margin: 20px 0}
.obuchenie .box.b2 { margin: 0 15px;}
.obuchenie p.text1 { width: 620px}
.obuchenie p.text2 { width: 300px}

.obuchenie .box p.title { border-bottom: 1px solid #D7D7D1; margin-bottom: 30px; padding-bottom: 20px; color: #58585a; font-weight: 700; font-size: 13px; line-height: 18px; margin-top: 10px;}
.obuchenie .box .inner {padding: 5px 0;}
.obuchenie .box .inner.bor {border-bottom: 1px dashed #C8C8C1;}
.obuchenie .box .inner .img, .obuchenie .box .inner p {vertical-align: middle; display: inline-block;}
.obuchenie .box .inner .img { width: 30px;}
.obuchenie .box .inner p { font-size: 13px; line-height: 18px; color: #58585a; width: 233px;}
.obuchenie .box .inner p span {color: #89898c;}

.obuchenie .box.b3 {}
.obuchenie .box.b3 p.title { font-size: 13px; line-height: 18px; color:#58585a; text-align: center; padding-bottom: 10px; margin-bottom: 10px; font-weight: normal;}
.obuchenie .box.b3 p.title strong { font-weight: 700; display: block; padding: 0 0 5px 0;}
.obuchenie .box.b3 p.title u { text-decoration: underline; display: block; line-height: 16px;}

.obuchenie .box.b3 p.price { text-align: center; border-bottom: 1px solid #D7D7D1; padding: 5px 0 15px; font-size: 15px; font-weight: 700; color: #58585a; margin-bottom: 20px;}
.obuchenie .box.b3 a.ajax.button { margin: 0 0 10px 50px;}





.obuchenie .box p.text {font-size: 13px; line-height: 18px; color: #89898c; margin-top: 30px;}

.obuchenie .box .bottom { border-top: 1px solid #D7D7D1; display: block; margin: 15px 0; padding-top: 20px;}
.obuchenie .box .bottom p { width: 145px; font-size: 13px; line-height: 18px; font-weight: 700; color: #58585a;display: inline-block; vertical-align: middle;}
.obuchenie .box .bottom p span.blue { color: #069edb;}
.obuchenie .box .bottom p span.red { color: #e83250;}
.obuchenie .box .bottom a.button { display: inline-block; vertical-align: middle;}












/*-- form1 --*/
.container.form1 { padding: 10px;}
.form1 .content { background: #F6F6F6;}
.form1 .content p.title { font-size: 15px; line-height: 22px; color: #58585a; text-align: center; padding: 25px 0 20px;}
.form1 .content p.title span { color: #069edb; font-weight: 700;}

.form1 .content form { width: 565px; margin: 0 auto; padding-bottom: 40px;}
.form1 .content form .left, .form1 .content form .right { display: inline-block; width: 280px; vertical-align: top;}
.form1 .content form .left {}
.form1 .content form .left input { color: #000; font-size: 13px; border: 1px solid #E6E6E6; background: #fff; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; text-align: center; width: 228px; display: block; margin-top: 16px; padding: 7px 10px;}
.form1 .content form .right {color: #58585a;}
.form1 .content form .right p { color: #58585a; font-weight: 700; margin-bottom: 10px;}
.form1 .content form .right input { margin: 0 15px 11px 0;}
.form1 .content form .right a.button { margin: 25px 0 0 35px;}

/*-- DocStore --*/
.container.docstore {}
.docstore {}
.docstore img { margin: 0 auto; display: block; padding: 10px 0;}
.docstore p { font-size: 15px; line-height: 22px; color: #89898c; text-align: center;}
.docstore .content { margin-top: 30px;}
.docstore .content .box { border: 1px dashed #49B6E2; width: 220px; height: 220px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; display: inline-block; vertical-align: top; margin: 0 12px 16px 0;}
.docstore .content .box a { text-decoration: underline; color: #58585a; vertical-align: middle; display: table; height: 220px; width: 220px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; padding: 10px;}
.docstore .content .box a:hover { color: #069edb;}
.docstore .content .box a span { display: table-cell; vertical-align: middle; text-align: center;}
.docstore .content .box:hover { border: 1px solid #1C9FD9; -webkit-box-shadow: 0 0 13px rgba(82, 168, 236, 0.6); -moz-box-shadow: 0 0 13px rgba(82, 168, 236, 0.6); box-shadow:0 0 13px rgba(82, 168, 236, 0.6); cursor: pointer;}

.docstore .content .left, .docstore .content .right { vertical-align: top; display: inline-block;}
.docstore .content {}
.docstore .content {}

.docstore .expert { border: 1px solid #1C9FD9; padding: 10px 15px; margin-top: 30px; margin-bottom: 10px;}
.docstore .expert img { margin: -25px 0 10px 0; padding: 0;}
.docstore .expert p { text-align: left; font-size: 13px; line-height: 18px; color: #58585a; margin-bottom: 10px;}




/*-- SaaS (аренда 1С:Документооборот) --*/
.saas .inner { margin: 30px 0;}
.saas .inner .left, .saas .inner .right { vertical-align: top; display: inline-block; width: 400px;}
.saas .inner .left {}
.saas .inner .left p { font-size: 18px; line-height: 20px; color: #58585a; font-weight: 700; text-align: center;}
.saas .inner .left ul { margin: 0; padding: 0;}
.saas .inner .left ul li { list-style: none; margin: 21px 0;}
.saas .inner .left ul li span, .saas .inner .left ul li p { vertical-align: middle;}
.saas .inner .left ul li span { color: #fff; background:url("../images/bg-ul-li.png") 0 0 no-repeat; width: 37px; height: 32px; display: inline-block; font-size: 15px; font-weight: 700; text-indent: 12px; line-height: 32px;}
.saas .inner .left ul li p {font-size: 13px; line-height: 18px; color: #58585a; text-align: left; font-weight: normal; display: inline-block; width: 335px; margin-left: 10px;}




.saas .inner .right { border: 1px solid #E6E6E6; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; width: 460px; padding: 30px 0; margin: 20px 0 20px 72px;}
.saas .inner .right p { font-size: 18px; line-height: 20px; color: #58585a; font-weight: 700; padding: 0 0 10px 150px; text-align: left;}
.saas .inner .right form {}
.saas .inner .right form .row { display: block; margin: 15px 0;}
.saas .inner .right form label { font-size: 13px; line-height: 22px; color:#58585a; text-align: right; width: 285px; display: inline-block;}
.saas .inner .right form input, .saas .inner .right form select { border: 1px solid #E6E6E6; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; background: #fff; width: 90px; padding: 7px 10px; font-size: 12px; font-weight: 700; margin: 0 0 0 10px; text-align: center;}
.saas .inner .right form select { margin-left: 7px; width: 93px; text-indent: 25px; text-align: left;}
.saas .inner .right form .line { border-top: 1px solid #DEDEDE; width: 390px; margin-left: 40px;}
.saas .inner .right form a.period-cost, .saas .inner .right form a.service-cost {border: 1px solid #E6E6E6; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; background: #fff; width: 90px; height: 30px; line-height: 30px; font-size: 12px; font-weight: 700; margin: 0 0 0 10px; text-align: center; display: inline-block;}
.saas .inner .right form .row span, .saas .inner .right form .row span { padding-left: 10px;}




/*-- Получите в подарок --*/
.container.form2 { padding: 10px;}
.form2 .content { background: #F6F6F6; padding: 20px 0;}
.form2 .content p { text-align: center; font-size: 15px; line-height: 22px; color: #069edb; font-weight: 700;}
.form2 .content p.title {color: #58585a; font-weight: normal;}
.form2 .content form { text-align: center; display: block; margin: 25px 0;}
.form2 .content form input { display: inline-block; color: #000; font-size: 13px; border: 1px solid #E6E6E6; background: #fff; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; text-align: center; padding: 7px 10px; width: 228px;}
.form2 .content form input.email { margin: 0 25px 0 10px;}

/*-- Сопровождение (техподдержка) --*/
.soprov {}
.soprov p.text { text-align: center; font-size: 19px; color: #58585a; font-weight: 700; margin: 35px 0 25px;}
.soprov .box { display: inline-block; width: 300px; vertical-align: top; padding: 0 25px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
.soprov .box img { margin: 0 auto; display: block;}
.soprov .box p { text-align: center; font-size: 15px; line-height: 22px; color: #58585a; margin: 10px 0;}
.soprov .box2 ul { margin: 0; padding: 0;}
.soprov .box2 ul li { list-style: none; margin:10px 0 20px; display: inline-block; vertical-align: top; width: 310px;}
.soprov .box2 ul li span, .saas .inner .left ul li p { vertical-align: top;}
.soprov .box2 ul li span { color: #fff; background:url("../images/bg-ul-li.png") 0 0 no-repeat; width: 37px; height: 32px; display: inline-block; font-size: 15px; font-weight: 700; text-indent: 12px; line-height: 32px;}
.soprov .box2 ul li p {font-size: 13px; line-height: 18px; color: #58585a; text-align: left; font-weight: normal; display: inline-block; width: 255px; margin-left: 10px;}

/*-- Сопровождение (техподдержка) --*/
.tab table {border: 1px solid #E6E6E6; margin-top: 30px;}
.tab table thead { background: #E6F5FB;}
.tab table thead td { font-size: 13px; line-height: 22px; color: #58585a; font-weight: 700; text-transform: uppercase; padding: 10px 15px; border: 1px solid #E6E6E6; text-align: center;}
.tab table thead td.left { text-align: left;}
.tab table thead td.width { width: 110px;}

.tab table tbody {}


.tab table tbody tr {}
.tab table tbody tr.bg { background: #FAFAF5;}
.tab table tbody tr td { font-size: 13px; line-height: 18px; color: #58585a; text-align: center; border: 1px solid #E6E6E6; padding: 15px; vertical-align: middle;}
.tab table tbody tr td strong { font-weight: normal; color: #58585a; display: block;}
.tab table tbody tr td img { margin: 0 auto; display: block;}
.tab table tbody tr td.left { text-align: left; color: #89898c;}
.tab table tbody tr td.button a { width: 75px;}
.tab table tbody tr td.strong { font-weight: 700;}



/*-- Контакты --*/
.kontakty {}
.kontakty p { text-align: left; font-size: 13px; line-height: 18px; color: #58585a;}


/*-- Оставьте заявку --*/
.container.form3 { padding: 10px;}
.form3 .content { background: #F6F6F6; padding: 20px 0;}
.form3 .content p { display: block; margin: 0 auto; text-align: center; font-size: 15px; line-height: 22px; color: #58585a; font-weight: 700; width: 260px;}
.form3 .content form { text-align: center; display: block; margin:0 auto; width: 300px; margin-top: 35px;}
.form3 .content form input, .form3 .content form select { display: block; color: #000; font-size: 13px; border: 1px solid #E6E6E6; background: #fff; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; text-align: left; width: 208px; margin: 0 auto; padding: 7px 10px; margin-top:15px; margin-bottom: 15px;}
.form3 .content form select { width: 230px; color: #757575; padding: 7px 5px 6px;}
.form3 .content form select:focus {outline: none;}
.form3 .content form select:hover {cursor: pointer;}
.form3 .content form select option {cursor: pointer; outline: none;}
.form3 .content form textarea { display: block; color: #000; font-size: 13px; border: 1px solid #E6E6E6; background: #fff; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; text-align: left; height: 130px; width: 208px; margin: 0 auto; padding: 7px 10px; margin-top:15px; margin-bottom: 15px; font-family: Arial, sans-serif;}
.form3 .content form a.button { margin: 15px 0;}

/*-- none --*/
.modal { width: 435px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; background: #fff; padding: 20px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
.modal.w500 { width: 500px;}
.modal.w270 { width: 270px;}
.modal.w1000 { width: 1000px;}
.modal a.close { background: url("../images/icon-close.png") 0 0 no-repeat; width: 19px; height: 18px; display: inline-block; float: right;}
.modal a.close span { display: none;}
.modal p { color: #89898c; font-size: 13px; line-height: 18px;}
.modal p strong { font-weight: 700; font-size: 15px; color:#58585a;}
.modal p.title {line-height: 22px; font-size: 19px; color:#58585a; font-weight: 700; margin: 5px 0 10px;}
.modal form { padding-right: 15px;}
.modal form label { font-size: 13px; font-weight: 700; color: #58585a; display: block; margin-top: 15px;}
.modal form label span { color: red;}
.modal form input {display: block; color: #000; font-size: 13px; border: 1px solid #E6E6E6; background: #fff; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; text-align: left; width: 208px; padding: 7px 10px; margin: 7px 0;}
.modal form input.error { color: #ea4961; border-color:#E74D63; background: #FCECEF;}
.modal form p.info { color: #89898c; font-size: 11px; line-height: 15px; width: 230px;}
.modal form p.info-b { font-size: 13px; color: #58585a; border-top: 1px solid #DEDEDE; margin-top: 15px; padding-top: 10px;}
.modal form p.info-b span { color: red;}
.modal form a.button.modal { margin: 30px 0 10px; width: auto;}

/*-- SlideShow --*/
#slideshow {margin:0 auto; width:999px; height:314px; position:relative; margin-bottom: 20px; margin-top: 5px;}
#slideshow #slidesContainer {margin:0 auto; width:1000px; height:314px; overflow:auto; position:relative;}
#slideshow #slidesContainer .slide { margin:0 auto; width:1000px; height:314px;}
#slideshow #slidesContainer .slide.sl1 {padding: 0 0 0 60px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; background: url("../images/slider/sl1.jpg") 0 0 no-repeat;}
#slideshow #slidesContainer .slide.sl1 h2 { color: #069edb; font-weight: 700; font-size: 27px; line-height: 27px; margin-top: 88px;}
#slideshow #slidesContainer .slide.sl1 p { color: #58585a; font-size: 15px; line-height: 20px; width: 385px; margin: 20px 0;}
#slideshow #slidesContainer .slide.sl1 a { display: inline-block; margin-right: 20px;}
.control { display:block; width:25px; height:32px; text-indent:-10000px; position:absolute; cursor: pointer; z-index: 1;}
#leftControl { top:141px; left:0; background:transparent url("../images/slideshow-icon.png") no-repeat 0 0;}
#rightControl { top:141px; right:0; background:transparent url("../images/slideshow-icon.png") no-repeat -25px 0;}
#leftControl:hover {background:transparent url("../images/slideshow-icon.png") no-repeat 0 -32px;}
#rightControl:hover {background:transparent url("../images/slideshow-icon.png") no-repeat -25px -32px;}

/*-- footer --*/
.boxes.footer { padding: 5px 30px; height: 60px;}
.footer img { display: inline-block; vertical-align: middle;}
.footer .social { display: inline-block; width: 650px; text-align: center; vertical-align: middle;}
.footer .social a { display: inline-block; height: 32px; width: 32px; outline: none;}
.footer .social a:hover { outline: none;}
.footer .social a span { display: none;}
.footer .social a.vk {background: url("../images/social.png") 0 -40px no-repeat;}
.footer .social a.vk:hover {background: url("../images/social.png") 0 0 no-repeat;}
.footer .social a.facebook {background: url("../images/social.png") -42px -40px no-repeat;}
.footer .social a.facebook:hover {background: url("../images/social.png") -42px 0 no-repeat;}
.footer .social a.skype {background: url("../images/social.png") -84px -40px no-repeat;}
.footer .social a.skype:hover {background: url("../images/social.png") -84px 0 no-repeat;}
.footer .social a.twitter {background: url("../images/social.png") -125px -40px no-repeat;}
.footer .social a.twitter:hover {background: url("../images/social.png") -125px 0 no-repeat;}
.footer .social a.linked {background: url("../images/social.png") -167px -40px no-repeat;}
.footer .social a.linked:hover {background: url("../images/social.png") -167px 0 no-repeat;}
.footer p { text-align: right; font-size: 13px; line-height: 48px; color: #c8c8c9; text-transform: uppercase; display: inline-block; width: 135px; vertical-align: middle;}

/*-- Наверх --*/
.top-content { position: relative; left: 1020px; display: none}
.top-content a { display: inline-block; width: 64px; height: 64px; position: fixed; bottom: 120px;}
.top-content a img {}

/*-- Наверх --*/
.modal.w1000 .top-box { padding-top: 30px;}
.modal.w1000 .top-box .bosex { display: inline-block; vertical-align: top; width: 317px; padding: 10px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
.modal.w1000 .top-box .bosex.se1 { background: #DBEAFD; border: 1px solid #BCC3E6;}
.modal.w1000 .top-box .bosex.se2 { background: #ECFEDA; border: 1px solid #BDE7C9;}
.modal.w1000 .top-box .bosex.se2 { padding-bottom: 15px;}
.modal.w1000 .top-box .bosex.se3 { background: #FFFED0; border: 1px solid #D9E8B2;}
.modal.w1000 .top-box p.title { font-weight: 700; font-size: 17px; color: #069edb; text-align: center; line-height: 20px;}
.modal.w1000 .top-box span {color: #89898c; font-size: 12px; line-height: 16px; text-align: center; display: block;}

.modal.w1000 .bottom-box {}
.modal.w1000 .bottom-box .bosex {display: inline-block; vertical-align: top; width: 475px; padding: 10px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
.modal.w1000 .bottom-box .bosex p { color: #3D3D3E; margin: 15px 0 5px; font-weight: 700; text-transform: uppercase; font-size: 12px;}
.modal.w1000 .bottom-box .bosex p.info { text-transform: none; font-weight: normal; line-height: 16px;}
.modal.w1000 .bottom-box .bosex p.title { font-size: 16px; text-transform: none; color: #000; margin-bottom: 20px; font-weight: normal;}
.modal.w1000 .bottom-box .bosex ul { margin: 0 0 0 10px;}
.modal.w1000 .bottom-box .bosex ul li { list-style: outside; color: #6F6F71; margin-left: 2px;}





















